body { 
  background-color: transparent;
  color: black;
  font-family: "verdana", "sans-serif";
  margin: 0px;
  padding-top: 0px;
  font-size: 1em;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

table#header{
	width: 100%;
	background: #DFDFDF;
	border-radius: 5px;
	border: 1px solid black;

}
.espacio-right{
	padding-right: 15px;
}
table#header tr td h1{
	font-size: 0.8em;
	text-align: center;
	padding: 0;
	margin: 0;
}
.registro{
	font-size: 0.75em;
}
.gestion{
	font-size: 0.65em;
	font-style: italic;
}
table.detalle{
	border-collapse: collapse;
}
.detalle{
	font-size: 8pt;
	width: 100%;
	text-align: center;
	border: 1px solid black;
	margin-top:10px;
}
.detalle_head{
	font-weight: bold;
	border-bottom: 1px solid black;
}

table.detalle tr.detalle_titulos th{
	background-color: #dfdfdf;
	border-bottom: 1px solid black;
	border-top: 1px solid black;
}
table.detalle tr td{
	padding-top: 5px;
	padding-bottom: 10px;
	border-right: 1px solid black;
	border-bottom: 1px solid black;
	border-top: 1px solid black;
}

table.fecha{
	font-size: 7pt;
	font-style: italic;
	margin-top: 25px;
}

.total td{
	border-top: 1px solid black;
	font-weight: bold;
}

table.datos{
	width: 100%;
	font-size: 8pt;
	border: 1px solid black;
	margin-top: 10px;
	padding: 0 10px;
}

table.observaciones{
	width: 100%;
	border: 1px solid black;
	font-size: 8pt;
	margin-top: 10px;
	border-collapse: collapse;
	margin-bottom: 0;
}

table.firmas{
	width: 100%;
	border: 1px solid black;
	font-size: 8pt;
	border-collapse: collapse;
	margin-top: 5px;
	text-align: center;
}
table.firmas tr td{
	border: 1px solid black;
}
table.firmas tr td.sellos{
	padding: 50px 10px;
}


table.movimientos{
	border-collapse: collapse;
}
.movimientos{
	font-size: 8pt;
	width: 100%;
	text-align: center;
	border: 1px solid black;
	margin-top:10px;
}
.movimiento_head{
	font-weight: bold;
	border-bottom: 1px solid black;
}

table.movimientos tr.movimiento_titulos th{
	background-color: #dfdfdf;
	border-bottom: 1px solid black;
}
table.movimientos tr td{
/*	padding-top: 5px;
	padding-bottom: 10px;*/
	border-top: 1px solid black;
	border-right: 1px solid black;
}